<div class="bg-[#513cee] p-6 text-white">
  <h1 class="text-2xl font-bold flex items-center gap-2"><span>🐾</span> Dieren vertaler</h1>
</div>
<form class="p-6 space-y-6">
  <div>
    <label class="block text-sm font-semibold text-gray-700 mb-2" for="source-text-input"
      >Te vertalen tekst</label
    >
    <textarea
      class="w-full border-gray-300 rounded-lg shadow-sm focus:border-[#513cee] focus:ring-[#513cee] p-3"
      id="source-text-input"
      placeholder="Typ hier je bericht..."
      rows="4"
      [formField]="translationForm.sourceText"
    ></textarea>
    @if (translationForm.sourceText().touched() && translationForm.sourceText().dirty()) {
      @for (error of translationForm.sourceText().errors(); track error) {
        <p class="mt-2 text-red-600 text-sm font-medium">
          {{ error.message }}
        </p>
      }
    }
    @if (detectionErrorOccurred()) {
      <p class="mt-2 text-red-600 text-sm font-medium">
        ⚠️ Taal kon niet automatisch worden herkent.
      </p>
    }
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <div>
      <app-translation-options
        id="from-language-select"
        label="Van"
        [formField]="translationForm.fromLanguage"
        [options]="fromLanguageOptions()"
      />
    </div>

    <div>
      <app-translation-options
        id="to-language-select"
        label="Naar"
        [formField]="translationForm.toLanguage"
        [options]="toLanguageOptions()"
      />
    </div>

    <button
      class="cursor-pointer disabled:cursor-not-allowed disabled:bg-red-900 disabled:hover:bg-red-900 py-4 bg-[#fff533] hover:bg-[#ffe033] text-[#513cee] font-black uppercase tracking-widest rounded-lg transition-colors shadow-md"
      type="button"
      [disabled]="translationForm().invalid()"
      (click)="onTranslate()"
    >
      Vertaal
    </button>
  </div>
</form>
